@import url("https://fonts.googleapis.com/css2?family=Carlito&display=swap");
html {
  user-select: none;
  color: black;
  height: 100%;
  width: 100%;
  font-family: "Carlito", sans-serif;
}

body {
  margin: 0;
  font-size: 1.3em;
  background-color: #f6f7f0;
}
header {
  text-align: center;
  font-size: 2em;
}
h1 {
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 0.1px;
  font-weight: bold;
  margin-bottom: 0.3em;
  margin-top: 0.5em;
}

h2 {
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.1px;
  margin-top: 0.1em;
}

h3 {
  font-weight: 500;
  letter-spacing: 0.1px;
}
/* ---------- main page styling ---------- */
main {
  animation: fadeIn 0.4s;
  padding: 137px 0 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
  justify-items: center;
}

@media (min-width: 900px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1800px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 2500px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
/* ---------- grid item styling ---------- */

.grid-item {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  background-color: white;
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
  width: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grid-item:hover {
  box-shadow: 0 8px 16px 0;
}

.grid-item img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.grid-item p {
  margin: 0.3em 0;
}
form {
  margin: 2em auto 0;
  padding: 1em 1em 2em;
  text-align: center;
}

dialog {
  border-color: whitesmoke;
  background-color: whitesmoke;
  width: 65vw;
  padding: 2em 1em;
}
dialog h4 {
  margin-bottom: 0;
}
dialog ul {
  margin: 0.5em 0 1em;
  padding-inline-start: 1.5em;
}
dialog p {
  margin: 0.5em 0 1em;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
button {
  background-color: #fff;
  color: black;
  font-size: 17px;
  padding: 5px 10px;
  border: none;
  border-radius: 1px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  font-family: "Carlito", sans-serif;
}
.btns {
  text-align: left;
  justify-content: flex-start;
  margin-top: auto;
}
button:hover {
  box-shadow: 0 8px 16px 0;
}
button.create {
  display: block;
  padding: 5px 10px;
  border-radius: 1px;
  font-size: 1em;
  margin: 0 auto;
}
select,
input[type="search"] {
  font-size: 0.9rem;
  height: 1.8rem;
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
label[for="input-search"] {
  margin-right: 0.5rem;
}
.tools-grid {
  padding-left: 40px;
}
#btn-submit {
  background-color: #fff;
  color: black;
  font-size: 17px;
  padding: 5px 10px;
  border: none;
  border-radius: 1px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  font-family: "Carlito", sans-serif;
  text-align: left;
  justify-content: flex-start;
  margin-top: 30px;
}
#btn-cancel {
  background-color: #fff;
  color: black;
  font-size: 17px;
  padding: 5px 10px;
  border: none;
  border-radius: 1px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  font-family: "Carlito", sans-serif;
  text-align: left;
  justify-content: flex-start;
  margin-top: 30px;
}
#btn-cancel:hover {
  box-shadow: 0 8px 16px 0;
}
#btn-submit:hover {
  box-shadow: 0 8px 16px 0;
}
#postDetails {
  max-width: 80%;
}

#postDetails h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
}

#postDetails img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 40px auto;
}

#postDetails p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
  white-space: pre-line;
  word-break: break-all;
}

#postDetails button {
  background-color: #fff;
  color: black;
  font-size: 17px;
  padding: 5px 10px;
  border: none;
  border-radius: 1px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  font-family: "Carlito", sans-serif;
  text-align: left;
  justify-content: flex-start;
  margin-top: auto;
}

#postDetails button:hover {
  box-shadow: 0 8px 16px 0;
}

#postDetails form {
  text-align: center;
}
